button {
  width: fit-content;
}

#main {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding-bottom: 50px;
}

#title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5%;
  padding-bottom: 20px;
}

#title-header {
  font-size: 400%;
}

#navmenu {
  position: sticky;
  top: 0%;
  z-index: 1;
}

.to-right {
  margin-left: auto;
}

.ghost-pic {
  object-fit: cover;
  width: 100%;
  min-height: 200px;
  max-height: 200px;
}